* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f4f6fb;
}

/* FULL CENTER */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD LOGIN */
.login-card {
  width: 100%;
  max-width: 360px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

/* INPUT */
.input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* BUTTON */
.btn-login {
  width: 100%;
  padding: 12px;
  margin-top: 18px;
  background: #591ec8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-login:hover {
  background: #4b16a8;
}